In [1]:
import pandas as pd
import yfinance as yf
import numpy as np
from datetime import date
from pandas_datareader.data import DataReader

In [12]:
#historical problems: The vix wasn't created until 1993 and did not include all S&P components until 2002.
#start was selected because this is when the first dates for spy were in yahoo finance
start = date(1993, 2, 8)
#sofr doesn't start until july of 2018 and LIBOR data ends oct 2016. Switch to SOFR
#doesn't really begin until 2020
sofr = DataReader('SOFR30DAYAVG', 'fred', start=start)
cpi = DataReader('CPIAUCSL', 'fred', start=start)
unrate = DataReader('UNRATE', 'fred', start=start)
vix = DataReader('VIXCLS', 'fred', start=start)
spy = DataReader('SPY', 'yahoo', start=start)

In [129]:
unrate

            UNRATE
DATE
1993-03-01     7.0
1993-04-01     7.1
1993-05-01     7.1
1993-06-01     7.0
1993-07-01     6.9
...            ...
2021-12-01     3.9
2022-01-01     4.0
2022-02-01     3.8
2022-03-01     3.6
2022-04-01     3.6

[350 rows x 1 columns]

In [119]:
libor_rate = pd.read_csv('3-month-libor-rate-historical-chart.csv')
#libor_rate.set_index('DATE')

In [120]:
libor_rate_chopped = libor_rate.iloc[:8715]
libor_rate_chopped

            DATE   value
0     1986-01-02  8.0000
1     1986-01-03  8.0625
2     1986-01-06  8.1250
3     1986-01-07  8.1250
4     1986-01-08  8.0000
...          ...     ...
8710  2020-06-24  0.2838
8711  2020-06-25  0.3060
8712  2020-06-26  0.3079
8713  2020-06-29  0.2961
8714  2020-06-30  0.3020

[8715 rows x 2 columns]

In [121]:
sofr_chopped = sofr.iloc[565:]
sofr_chopped.rename(columns = {'SOFR30DAYAVG': 'value'}, inplace=True)

<ipython-input-121-38db792f623b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sofr_chopped.rename(columns = {'SOFR30DAYAVG': 'value'}, inplace=True)

In [122]:
sofr_chopped = sofr_chopped.reset_index()

In [123]:
int_rate = pd.concat([libor_rate_chopped, sofr_chopped])

In [125]:
#note that SOFR takes over from LIBOR in June 30th.  
int_rate

                    DATE    value
0             1986-01-02  8.00000
1             1986-01-03  8.06250
2             1986-01-06  8.12500
3             1986-01-07  8.12500
4             1986-01-08  8.00000
..                   ...      ...
488  2022-05-16 00:00:00  0.46542
489  2022-05-17 00:00:00  0.48242
490  2022-05-18 00:00:00  0.49943
491  2022-05-19 00:00:00  0.51610
492  2022-05-20 00:00:00  0.53311

[9208 rows x 2 columns]